%dl.row
  %dt.col-sm-3 Description lists
  %dd.col-sm-9 A description list is perfect for defining terms.
  %dt.col-sm-3 Euismod
  %dd.col-sm-9
    %p Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
    %p Donec id elit non mi porta gravida at eget metus.
