.container-fluid
  .row
    .col-sm
    .col-sm-8.col-md-8.col-lg-5
      .col.justify-content-center
        .row-md-2
          .col-md.justify-content-center{style: "padding: 0"}
            .d-grid.gap-1
              .p-2
                %h1 Sign up
                = form_with model: @user, class: "input-group" do |form|
                  = form.text_field :name, class: "form-control", placeholder: "Enter your new user name"
                  = form.submit "Sign up", class: "btn btn-success"
    .col-sm
